#### Job Satisfaction

How do job satisfaction levels vary by Country, Employment Status or Company Size?

In [20]:
import pandas as pd
import numpy as np
# import JobSatisfaction as t
import HowToBreakIntoTheField as t
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')
schema = pd.read_csv('./survey_results_schema.csv')
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Used to Answer Question 1

In [15]:
# Group by country, then calculate mean job satisfaction
country_devtype_satisfaction = df.groupby(['Country']).mean()['JobSatisfaction'].sort_values().dropna()

country_devtype_satisfaction

Country
North Korea                        0.000000
Fiji                               0.000000
Somalia                            2.000000
Brunei Darussalam                  3.000000
Bhutan                             3.000000
Lesotho                            3.000000
Gabon                              4.000000
Oman                               4.000000
Uzbekistan                         4.200000
Trinidad and Tobago                4.600000
Uganda                             4.625000
Syria                              4.666667
Kyrgyzstan                         5.000000
Ivory Coast (Cote D'Ivoire)        5.000000
Togo                               5.000000
Zaire                              5.000000
Mozambique                         5.000000
Mauritius                          5.000000
Myanmar                            5.181818
Ghana                              5.428571
Liechtenstein                      5.500000
Mongolia                           5.600000
Japan                              5.719101
Algeria                            5.857143
Nepal                              5.970588
Haiti                              6.000000
Burkina Faso                       6.000000
Namibia                            6.000000
Bangladesh                         6.040816
I prefer not to say                6.041667
                                    ...
Bahrain                            7.500000
Venezuela                          7.538462
El Salvador                        7.555556
Macedonia                          7.578947
Kuwait                             7.600000
Israel                             7.693380
Denmark                            7.693878
Lebanon                            7.750000
Jamaica                            7.750000
Cyprus                             7.833333
Guatemala                          7.846154
Lithuania                          7.886364
Bosnia-Herzegovina                 7.892857
Puerto Rico                        8.000000
S. Georgia & S. Sandwich Isls.     8.000000
Bermuda                            8.000000
Gibraltar                          8.000000
Netherlands Antilles               8.000000
Malawi                             8.000000
Bolivia                            8.166667
Kenya                              8.250000
Tanzania                           8.333333
Panama                             8.333333
Iceland                            8.400000
Andorra                            8.500000
Guyana                             9.000000
New Caledonia (French)             9.000000
Laos                               9.000000
Virgin Islands (USA)              10.000000
Iraq                              10.000000
Name: JobSatisfaction, Length: 154, dtype: float64

In [18]:
# Group by EmploymentStatus, then calculate mean job satisfaction

df.groupby(['EmploymentStatus']).mean()['JobSatisfaction'].sort_values().dropna()

EmploymentStatus
Employed part-time                                      6.846154
Employed full-time                                      6.980608
Independent contractor, freelancer, or self-employed    7.231985
Name: JobSatisfaction, dtype: float64

In [19]:
# Group by CompanySize, then calculate mean job satisfaction

df.groupby(['CompanySize']).mean()['JobSatisfaction'].sort_values().sort_values().dropna()

CompanySize
10,000 or more employees    6.793617
5,000 to 9,999 employees    6.832155
1,000 to 4,999 employees    6.908506
20 to 99 employees          6.997039
Fewer than 10 employees     7.025719
100 to 499 employees        7.029324
500 to 999 employees        7.029967
10 to 19 employees          7.035739
I don't know                7.054622
I prefer not to answer      7.284946
Name: JobSatisfaction, dtype: float64